*{
  margin: 0px;
}
body{
  font-family: 'Roboto', sans-serif;
}
.navBar{
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  justify-content: space-between;
}
.textBox{
  margin: 20px;
  font-size: 15px;
}
.navBar .logo{
  margin: 20px;
}
.textBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageContnet{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/blurcar.png');
  width: 100%;
  height: calc(100vh - 150px);
}
.centerBoxBottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 30vw;
  height: 25vh;
}
.centerBoxTop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-15px,-15px,0px);
  width: 30vw;
  height: 25vh;
  background-color: white;
}
.centerBoxTop h1{
  font-size: 85px;
  font:bolder
}