*{
  margin: 0px;
}
body{
  font-family: 'Roboto', sans-serif;
}
.navBar{
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  justify-content: space-between;
}
.navBar .logo{
  margin: 20px;
}
.textBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: 15px;
}
.textBox h1{
  font-weight: lighter;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.buttons h1:hover{
  color: rgb(65, 65, 65);
  cursor: pointer;
}
.buttons h1{
  margin: 20px;
}
.pageContnet{
  width: 100%;
  height: calc(100vh - 180px);
}
.carImages1{
  justify-content: center;
  display: flex;
  flex-basis: 100%;
}
.carImages1 img{
  margin: 40px;
  width: 23vw;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: grey;
}
.header h1{
  color: white;
  font-size: 15px;
  font-weight: lighter;
}
.topContent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.topContent h1{
  font-weight: lighter;
  margin: 10px;
}
.aboutUs {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.aboutUs h2{
  width: 90%;
}